<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/ba3ae6fb31.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style.css">
  <title>
    <%=list%>
  </title>
</head>
<body>

  <figure class="header-img">
    <img src="/images/5272-removebg.png" alt="todo_man">
    <div class="intro">
      <!-- <span>To Do</span><br><span>List</span> -->
      <div id="project-name">
        <div>
          <span>T</span>
          <span>o</span>
          <span>D</span>
          <span>o</span>
        </div>
      <div>
        <span>L</span>
        <span>i</span>
        <span>s</span>
        <span>t</span>
      </div>
      </div>
    
    </div>
  </figure>
  <div id="workspace">
    <form action="/add" method="POST" id="todo_form">
      <p id="p1">
        <label for="description">description</label><br>
        <textarea type="text" id="description" name="description"  placeholder="What you want to do?"></textarea>
      </p>
      <p id="p2">
        <span>
          <label for="category">
            category
          </label>
          <select name="category" id="category" >
            <option value="personal">personal</option>
            <option value="work">work</option>
            <option value="project">project</option>
            <option value="other">other</option>
          </select>
        </span>
        <span>
          <label for="duedate">due date</label>
          <input type="date" name="duedate" id="duedate" >
        </span>
      </p>
      <p id="p3">
        <button type="submit" id="add_task">add</button>
      </p>
    </form>
  </div>
  
      <h3 class="task-list">
        <span> t</span>
        <span>a</span>
        <span>s</span>
        <span>k</span>
      </h3>
      <div id="container">
        <% for(let i of user_List) {%>  
              <div class="content" id="<%=i._id%>">
                <p class="task"><%=i.description%></p>
                <p class="identity"><%=i.category%></p>
                <p class="d-date"><%=i.duedate%></p>
              </div>  
          <div class="dlt-btn">
            <a href="/delete/?id=<%= i._id%>">
              <img src="https://img.icons8.com/material-outlined/24/000000/delete-sign.png"/>
            </a>
          </div>             
        <%}%>
      </div>

</body>
</html>
